.chart {
  margin: 30px;
  position: relative;
  .tooltip {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .brand {
    }
    .percent {
      font-size: 36px;
      font-weight: 900;
    }
  }
}
